/* Full page center */
.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: 
    linear-gradient(rgba(0, 0, 0, 0.304), rgba(0, 0, 0, 0.293)),
    url("/src/assets/social_bg.jpg");
  background-size: cover;
  background-position: center;
}




/* Card */
.auth-card {
  width: 100%;
  max-width: 380px;
  background: white;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Title */
.auth-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}

.auth-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

/* Inputs */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 22px;
}

.input-group input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border-color: #4f46e5;
}

/* Button */
.primary-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #4f46e5;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.primary-btn:hover {
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.3);
}

.primary-btn:active {
  transform: scale(0.98);
}

/* Switch */
.switch-text {
  font-size: 13px;
  color: #555;
  margin-top: 18px;
}

.switch-text span {
  color: #4f46e5;
  font-weight: 600;
  cursor: pointer;
}

.auth-left {
  position: absolute;
  left: 8%;
  color: white;
  max-width: 300px;
}

.auth-left h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.auth-left p {
  font-size: 16px;
  opacity: 0.85;
}
