/* ======================
   BASE (MOBILE)
====================== */

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  flex-shrink: 0;
}


/* ======================
   TABLET (768px+)
====================== */

@media (min-width: 768px) {
  .avatar {
    width: 36px;
    height: 36px;
    font-size: 15px;
  }
}


/* ======================
   DESKTOP (1024px+)
====================== */

@media (min-width: 1024px) {
  .avatar {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
