.auth-container {
  max-width: 350px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
}

.link {
  margin-top: 12px;
  color: #1976d2;
  cursor: pointer;
}
