/* 
   BASE (MOBILE + TABLET)
 */

.like-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* mobile & tablet */
  z-index: 999;
}

/* CARD */
.like-modal {
  width: 100%;
  max-width: 420px;
  background: #fbfbfb;
  color: black;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

/* HEADER */
.like-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: #333;
  font-weight: 600;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.like-modal-header button {
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

/* LIST */
.like-modal-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
}

/* ROW */
.like-user-row {
  display: flex;
  color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.like-user-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.like-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.like-username {
  font-size: 14px;
}


/* 
   DESKTOP 
 */

@media (min-width: 1024px) {
  .like-modal-backdrop {
    align-items: center; /* center on desktop */
  }

  .like-modal {
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
  }
}
