.comment-list {
  margin-top: 6px;
}

.view-comments {
  font-size: 13px;
  color: #777;
  cursor: pointer;
  margin-bottom: 4px;
}

.comment {
  font-size: 14px;
  margin-bottom: 2px;
}

.comment-user {
  font-weight: 600;
  margin-right: 4px;
}
